html {

}

body {
	margin: 0;
	counter-reset: tweets;
}

a {
	color: inherit;
}

h1, h2 {
	font: bold 200%/1.1 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
	color: gray;
}

main {
	display: flex;
	flex-flow: column;
}

twitterwidget {
    counter-increment: tweets;
	min-width: none !important;
	margin: auto;
}

.mv-bar.mv-ui {
	position: fixed;
	right: .3em;
}

main {
	width: 800px;
	max-width: 100%;
	margin: auto;
}

.edit-only {
	display: none;
}

	[mv-mode=edit] .edit-only {
		display: block;
	}

img[property=image] {
	object-fit: cover;
	background: #f06;
}

footer {
	padding: 1em calc(50vw - 370px);
	margin: 1em auto 0;
	background: hsl(220,10%,93%);
	font-size: 150%;
}

	footer img {
		display: inline-block;
		vertical-align: -.2em;
		height: 1.2em;
	}
